@import "global.scss";

.idol-list {
  .intro {
    position: relative;
    height: 200px;

    image {
      position: absolute;
      right: 0;
      top: 0;
      height: 200px;
      width: 320px;
    }

    .list {
      margin-left: 40px;
      padding-top: 20px;

      .li {
        font-size: 28px;
        line-height: 40px;
        color: $color-text-gray;
      }
    }
  }

  .notice {
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;

    .icon {
      float: left;
      margin-right: 10px;
    }

    .swiper {
      overflow: hidden;
      height: 60px;
      flex-grow: 1;
    }

    .swiper-item {
      line-height: 60px;
    }

    .notice-item {
      font-size: 24px;
      color: $color-text-gray;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 8px;
      }

      .content {
        flex-grow: 1;
      }
    }
  }
}