@import "global.scss";

.idol-item {
  margin: 20px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 2px 6px 0 rgba(0,0,0,.12);
  border-radius: 10px;
  background-color: #fff;

  .header {
    padding: 20px 30px;
    position: relative;
    border-bottom: 1px solid $color-avatar-border;

    .avatar {
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 10px;
      border: 1px solid $color-avatar-border;
      float: left;
      margin-right: 15px;
    }

    .info {
      overflow: hidden;
      height: 70px;

      .name {
        color: $color-text-normal;
        font-size: 28px;
        font-weight: 500;
        line-height: 38px;
      }

      .meta {
        color: $color-text-gray;
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

  .main {
    padding: 30px;
    font-size: 28px;
    line-height: 40px;

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;

      .key {
        color: $color-text-gray;
        font-size: 28px;
      }

      .val {
        font-size: 40px;
        color: $color-text-normal;
      }

      .img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }

  .footer {
    padding: 20px 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-avatar-border;

    .meta {
      color: $color-text-gray;
      font-size: 28px;
    }

    .btn {
      color: $color-red;
      font-size: 28px;
    }
  }
}