@import "global.scss";

.sale-idol-btn-wrap {
  .sale-btn {
    background-color: $color-gray;
    color: #fff;
    border-radius: 10px;
    width: 128px;
    height: 46px;
    line-height: 46px;
    font-size: 24px;
    margin: 0 10px;
    border-width: 0;
  }

  .buy-counter {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .title {
      margin-left: 24px;
    }
  }
}