/* Custom Theme */
$color-brand: #ff6881;
$color-brand-light: #ff8ea1;
$color-brand-dark: #cc5367;
@import "global.scss";
@import "~taro-ui/dist/style/index.scss";

.at-list__item--thumb .item-thumb__info {
  border-radius: 50%;
}

.at-load-more .at-button {
  border-width: 0;
}

.at-nav-bar {
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  padding-top: 38px;
  z-index: 99;

  .at-nav-bar__left-view {
    .at-icon {
      font-size: 65px;
    }

    &:active {
      background-color: transparent;
    }
  }

  .at-nav-bar__left-view {
    flex-grow: 4;
  }

  .at-nav-bar__title {
    display: none;
  }
}

.at-form {
  &:before,
  &:after {
    content: none;
  }
}

.at-tabs--scroll {
  .at-tabs__item {
    padding: 20px 25px;
    font-size: 30px;
    color: $color-text-light;

    &--active {
      color: $color-text-normal;
    }

    &-underline {
      width: 48px;
      height: 8px;
      border-radius: 4px;
      margin-left: -24px;
      left: 50%;
    }
  }
}
